body{
    margin: 0;
    background: #eee;
}

#main {
    width: 980px;
    margin: 100px auto;
    background: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 3px;
}
.section{
    margin-bottom: 50px;
}

.section::after{
    content: '';
    display: block;
    clear: both;
}

.col-6 {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 10px;
    text-align: left;
}

.col-6 p{
    margin-left: 45px;
}


.tumnbnail{
    width: 100%;
    height: 100%;
}

.col-6:last-child{
    margin-right: -10px;
}

.tumnbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
    vertical-align: bottom;
}

.tumnbnail:hover{
    cursor: pointer;
    transition: all .5s;
    
}

.tumnbnail-1,.tumnbnail-2,.tumnbnail-3{
    overflow: hidden;
}

.tumnbnail-1 img:hover{
    transform: scale(1.5) rotate(10deg);
}

.tumnbnail-2 img:hover{
    transform: scale(1.5) rotate(-10deg);
}

.tumnbnail-3 img:hover{
    transform: scale(2) skewY(5deg);
}

.fa{
    font-size: 30px !important;
    display: block;
    margin-top: 10px;
    
}

.fa-heart-o {
    color:#a8a8a8;
    
}

.fa-heart {
    color: #e7a0c5;
}

.fav{
  cursor: pointer;
  transition: all 1s;
  position: absolute;
  z-index: 2;
  background: #fff;
  
}
.fav.is-active{
  animation: favPushAnimation 1s ease-out;
}
.fav2{
  z-index: 1;
  position: absolute;
  
}
.fav2.is-active{
  animation: favMoveAnimation 1s ease-out;
}

@keyframes favPushAnimation{
  0%{
    transform: scale(1.7);
  }
    20%{
        transform:  rotate(-10deg)
    }
    50%{
        transform: scale(1.5);
    }
    70%{
        transform:  rotate(10deg)
    }
  100%{
    transform: scale(1);
  }
}

@keyframes favMoveAnimation{
  0%{
    z-index: 3;
    transform: translateY(0) translateX(-3px);
  }
  10%{ transform: translateY(-5px) translateX(3px); }
  20%{ transform: translateY(-10px); }
  30%{ transform: translateY(-15px); }
  40%{ transform: translateY(-20px) translateX(-3px); }
  50%{ transform: translateY(-25px); }
  60%{ transform: translateY(-30px); }
  70%{ transform: translateY(-35px) translateX(3px); }
  80%{ transform: translateY(-40px); }
  90%{ transform: translateY(-45px); }
  100%{
    transform: translateY(-50px) translateX(-3px);
    opacity: 0;
  }
}

/*
.modal {
    display: none;
    width: 100%;
    text-align: center;
    background: #eee;
    padding: 40px;
    box-sizing: border-box;
    background: #eee;
    position: absolute;
    top: 10%;
    z-index: 1;
}

.modal img{
    width: 500px;
    display: block;
    margin: 0 auto;
}

.cover {
    background: rgba(0,0,0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}

.btn {
    border: none;
    background: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 20px;
}*/
